@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* rest of app styles */ 
.App {
    width: 375px;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    background-color: hsl(0, 0%, 100%);
    ;

}